:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;
}

body {
    margin: 0;
    font-family: 'Source Code Pro';
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.projects-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust the height as needed */
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 24px;
    color: var(--text-color);
}

.navbar_logo i {
    color: var(--accent-color);
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}

.navbar_icons {
        list-style: none;
        color: var(--text-color);
        display: flex;
        padding-left: 0;
}

.navbar_icons li {
    padding: 8px 12px;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }

}

.project-menu a {
    display: inline-block;
    text-align: center;
}

.project-menu img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3/2; /* Adjust the aspect ratio as per your needs */
}

.project-menu h3 {
    margin-top: 10px;
}

.project-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0 20px; /* Add left and right padding */
}

.project-menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--background-color);
    border: 1px solid white;
    padding: 10px;
    border-radius: 4px;
}

.project-menu a:hover {
    background-color: whitesmoke;
    color: var(--background-color);
}

.project-menu img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-menu h3 {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .project-menu {
    grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 769px) {
    .project-menu {
    grid-template-columns: repeat(2, 1fr);
    }
}

.project-menu a:hover {
    animation: shake 0.5s ease-in-out infinite;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(-5deg); }
    75% { transform: translateX(5px) rotate(5deg); }
    100% { transform: translateX(0); }
}

.summary {
    text-align: center;
    background-color: #f0f4f5;
    padding: 40px;
    border-bottom: 1px solid #263343;
}
.summary-heading {
    font-size: 24px;
    color: #263343;
    margin-bottom: 10px;
}

.summary-text {
    font-size: 18px;
    color: #737b8c;
}


#game-container {
    width: 800px; /* Adjust width as needed */
    height: 500px; /* Adjust height as needed */
    margin: 0 auto; /* Center the container horizontally */
    background-color: #f0f0f0; /* Example background color */
    border: 2px solid #1f1e1e; /* Example border */
  }






